<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Steam-API</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>

  <nav class="navbar">
    <div class="left">
      <div class="menu" id="menuButton">
        <!-- Icône ≡ (menu hamburger) -->
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <line x1="3" y1="6" x2="21" y2="6"/>
          <line x1="3" y1="12" x2="21" y2="12"/>
          <line x1="3" y1="18" x2="21" y2="18"/>
        </svg>

      </div>

      <form action="" class="search-bar">
	      <input type="search" name="search" pattern=".*\S.*" required>
    	    <button class="search-btn" type="submit">
		      <span>Search</span>
	      </button>
      </form>
      <img class="logo" src="../icons/steam-logo-steam-icon-free-free-vector-removebg-preview.png" alt="Steam Logo" href="/index">
    </div>
  </nav>
</body>
</html>